.vehicles {   
    text-align: center;
    background-position-x: center;
    background-image: url(vehicleBackground.jpg);
    z-index: 1;
    min-height: 65rem;
    min-width: 45rem;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    background-color: rgb(99, 97, 97);
  }
  .vehicleContainer {
   justify-content: space-between;
    padding-right: 25%;
    padding-left: 25%;
  }

  .vehicle {
      font-size: larger;
      margin: 1em;
      padding: 1em;
      border: 2px solid rgb(245, 28, 173);
      background-color: lightgray;
     }
  .vehicle--title {
      color:#ec0b87;
      font-size: 75px;
      text-decoration: underline;
      
  }

  .vehicleForm__title {
    color:#ec0b87;
    font-size: 75px;
    text-decoration: underline;
    
  }
 
  .btn  {
      color: #ec0b87;
  }

  .mainItem {
    color: #0ad4f8;
    background-color: dimgray;
  }
  .addBtn {
    color:rgb(220, 243, 16);
    background-color: dimgray;
  }

  .root {
    background-position-x: center;
    background-image: url(vehicleBackground.jpg);
    z-index: 1;
    min-height: 65rem;
    min-width: 45rem;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mainVehicleForm {
    text-align: center;
    background-position-x: center;
    background-image: url(vehicleBackground.jpg);
    z-index: 1;
    min-height: 65rem;
    min-width: 45rem;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    background-color: rgb(99, 97, 97);
  }
  
  label {
    color: rgb(86, 159, 255);
    background-color: rgb(0, 0, 0);
  }

  .vehicle__name {
    color: #2d6de2;
    font-size: 50px;

  }

  .vehicle__notes {
    font-size: 20px;
    margin-bottom: 2%;
  }
  .edit__vehicle {
    justify-content: space-around;
    margin-right: 2em;
    color: #0c000a;
    background-color: dimgray;
    margin-bottom: 2%;
  }
  .deleteBtn {
    justify-content: space-around;
    margin-right: 2em;
    color: #fffefe;
    background-color: rgb(248, 8, 8);
    margin-bottom: 2%;
  }
  .mainItem {
    justify-content: space-around;
    margin-right: 2em;
    color: #ec0b87;
    margin-bottom: 2%;
  }

  .detail {
    text-align: center;
    background-position-x: center;
    background-image: url(vehicleBackground.jpg);
    z-index: 1;
    min-height: 65rem;
    min-width: 45rem;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    background-color: lightgray;
  }

  .backBtn {
    width: 25em;
    color: rgb(33, 247, 26);
    background-color: dimgray;
  }

  .complete {
    
  }