.vehicles {
   
    text-align: center;
    background-position-x: center;
    background-image: url(vehicleBackground.jpg);
    z-index: 1;
    min-height: 65rem;
    min-width: 45rem;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    background-color: lightgray;
  }
  
  .vehicle {
      
      margin: 1em;
      padding: 1em;
      border: 2px solid rgb(245, 28, 173);
      max-width: 25%;
      background-color: lightgray;
     
      
    
  }
  .vehicle--title {
      color:#ec0b87;
      font-size: 75px;
      text-decoration: underline;
  }
 
  .btn  {
      color: #ec0b87;
  }

  .addBtn {
      color:rgb(243, 10, 10);
  }

  .root {
    background-position-x: center;
    background-image: url(vehicleBackground.jpg);
    z-index: 1;
    min-height: 65rem;
    min-width: 45rem;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
  }