.maintenance {
    
    text-align: center;
    background-position-x: center;
    background-image: url(maintenanceBackground.webp);
    z-index: 1;
    min-height: 65rem;
    min-width: 45rem;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    justify-content: space-between;
    background-color: rgb(223, 221, 221);
    
  }
  .maintCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .maintenanceCard{
      
      margin: 1em;
      padding: 1em;
      border: 2px solid rgb(245, 28, 173);
      background-color: lightgray;
      font-size: larger;
  }
  .completedMaintenance{
      display:inline-block;
      margin: 1em;
      padding: 1em;
      border: 2px solid rgb(42, 141, 11);
      background-color: lightgray;
      font-size: larger;
      
  }

  .dateCompleted {
    font-size: 30px;
    color:rgb(243, 23, 8);
  }
      

  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .MaintenanceForm__title {
      color:#ec0b87;
      font-size: 75px;
      text-decoration: underline;
     
  }

  .VehicleMaintenanceForm {
    color:#ec0b87;
      font-size: 75px;
      text-decoration: underline;
      margin-left: 20%;
  }
  
  .addMtnBtn {
    color: #0ad4f8;
    background-color: dimgray;
  }
  .btn  {
      color: #000000;
  }

  .addBtn {
      color:rgb(220, 243, 16);
      background-color: dimgray;
     
  }

  .root {
    background-position-x: center;
    background-image: url(maintenanceBackground.webp);
    z-index: 1;
    min-height: 65rem;
    min-width: 45rem;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
   
  }

  .form-group-vehicle {
     padding-right: 25%;
     margin-left: 25%;
     font-size: larger;
  }
  .form-group {
     padding-right: 25%;
      margin-left: 25%;
      font-size: larger;
  }

  
  h2 {
    color:#ec0b87;
    font-size: 75px;
    text-decoration: underline;
    
  }

.MaintenanceForm {
    text-align: center;
    background-position-x: center;
    background-image: url(maintenanceBackground.webp);
    z-index: 1;
    min-height: 65rem;
    min-width: 45rem;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    justify-content: space-between;
    background-color: lightgray;
    align-content: center;
}

.container {
 
  background-color: dimgray;
  
}
  .edit {
    justify-content: space-around;
    margin-right: 2em;
    color: #e3f11c;
    background-color: dimgray
  }
  .deleteBtn {
    justify-content: space-around;
    margin-right: 2em;
    color: #fdfbfb;
    background-color: rgb(248, 8, 8);
  }
  .complete {
    justify-content: space-around;
    margin-right: 2em;
    color: #87f81d;
    background-color: dimgray;
  }
  .backBtn {
    width: 20em;
    color: rgb(33, 247, 26);
    background-color: dimgray;
  }

  .vehicleName {
    color: #0a0a0a;
    font-size: 50px;
    padding-left: 30%;
  }

  .addMainBtn {
    color: #000000;
    background-color: rgb(202, 202, 202);
    margin-left: 25%;
    margin-top: 5em;
    margin-bottom: 10em;
  }

  .cancel {
    color: #000000;
    background-color: rgb(202, 202, 202);
    margin-left: 25%;
  }
    