.maintenance {
    
    text-align: center;
    background-position-x: center;
    background-image: url(maintenanceBackground.webp);
    z-index: 1;
    min-height: 65rem;
    min-width: 45rem;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    justify-content: space-between;
    background-color: lightgray;
    
  }
  
  .maintenanceCard{
      
      margin: 1em;
      padding: 1em;
      border: 2px solid rgb(245, 28, 173);
      max-width: 25%;
      background-color: lightgray;
     
      
    
  }
  .MaintenanceForm__title {
      color:#ec0b87;
      font-size: 75px;
      text-decoration: underline;
      
  }
 
  .btn  {
      color: #ec0b87;
  }

  .addBtn {
      color:rgb(243, 10, 10);
     
  }

  .root {
    background-position-x: center;
    background-image: url(maintenanceBackground.webp);
    z-index: 1;
    min-height: 65rem;
    min-width: 45rem;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
   
  }

  .form-group-vehicle {
     padding-right: 25%;
     margin-left: 25%;
  }
  .form-group {
     padding-right: 25%;
      margin-left: 25%;
  }

  
  h2 {
    color:#ec0b87;
    font-size: 75px;
    text-decoration: underline;
    
  }

.MaintenanceForm {
    text-align: center;
    background-position-x: center;
    background-image: url(maintenanceBackground.webp);
    z-index: 1;
    min-height: 65rem;
    min-width: 45rem;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    justify-content: space-between;
    background-color: lightgray;
}